<div class="container">
  <div class="footer__bg">
    <div class="footer__container">
      <div>
        <h1 class="footer__title">Yves</h1>
        <span class="footer__subtitle">Full-Stack Web developer</span>
      </div>

      <ul class="footer__links">
        <li>
          <a class="footer__link">About Me</a>
        </li>
        <li>
          <a class="footer__link">Project</a>
        </li>
        <li>
          <a class="footer__link">Service</a>
        </li>
      </ul>

      <div class="footer__socials">
        <a href="http://facebook.com" target="_blank" class="footer__social">
          <i class='bx bxl-facebook-square'></i>
        </a>
        <a href="http://instagram.com" target="_blank" class="footer__social">
          <i class='bx bxl-instagram-alt'></i>
        </a>
        <a href="http://twitter.com/" target="_blank" class="footer__social">
          <i class='bx bxl-twitter'></i>
        </a>
      </div>
    </div>

    <p class="footer__copy">&#169; Bedimcode. All rights reserved.</p>
  </div>
</div>